#!/usr/bin/env bash

# If you want to overwrite few variables for own environment
# please copy this file into the same folder as config_custom.sh
# and uncomment required lines

# CONTAINERS_DIR_PATH=~/work/cont;
# CONTAINERS_HOST_CONFIG_DIR_PATH=~/.ssh/cnt_cnf;
# CONTAINERS_DOMAIN_SUFFIX=mdva.test
# CONTAINERS_IP_TEMPLATE='127.0.NUM1.NUM2'
